<!DOCTYPE html>
<html>
<head>
  <title>Forever Web UI</title>
  
  <link rel="stylesheet" href="/css/bootstrap.1.4.0.min.css" />

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <style type="text/css">
    body {
      padding-top: 10px;
    }


    pre {
      max-height:200px;
      overflow:auto;
    }

    .hidden{display:none}
    .span5{text-align:right;}

    .hero-unit{position:relative;}
  </style>
</head>
<body>

  <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Forever Web UI</h1>
        <p>A simple web ui for efficient node administration</p>

        <div style="position:absolute;bottom:10px;right:10px">
          <span href="#" class="btn refresh">Refresh list</span>
        </div>
      </div>

      <p>Process count <span id="process-count">0</span></p>
      
      <div id="process-list">
      
      </div>


      <footer>
        <p>Forever Web UI v0.1 - by @FGRibreau</p>
      </footer>

    </div> <!-- /container -->


    <div id="tplInfo" class="alert-message block-message info hidden">
      <a class="close" href="#">×</a>
      <div class="alert-message-content"></div>
    </div>


    <script id="process-tmpl" type="text/html">
        <div class="span11">
          <h2>
            {{file}}
          </h2>
        </div>

        <div class="span5">
          <a class="btn info" href="/info/{{pid}}">Info</a>
          <a class="btn primary restart" href="/restart/{{pid}}">Restart</a>
          <a class="btn danger stop" href="/stop/{{pid}}">Stop</a>
        </div>
    </script>


<!-- Backbone dependencies -->
<script src="/js/jquery.1.7.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/underscore.1.2.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/backbone.0.5.3.dev.js" type="text/javascript" charset="utf-8"></script>

<script src="/js/bootstrap-alerts.1.4.0.dev.js" type="text/javascript" charset="utf-8"></script>

<!-- Template lib -->
<script src="/js/mustache.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8">
  var App = {};
</script>
<script src="/appjs/Process.js" type="text/javascript" charset="utf-8"></script>
<script src="/appjs/ProcessView.js" type="text/javascript" charset="utf-8"></script>
<script src="/appjs/ProcessList.js" type="text/javascript" charset="utf-8"></script>
<script src="/appjs/ProcessListView.js" type="text/javascript" charset="utf-8"></script>
<script src="/appjs/AppView.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8">
  $(function(){
    App.ForeverWebUIApp = new App.AppView(<%- JSON.stringify(process) %>);
  });
</script>

</body>
</html>
