<!DOCTYPE html>
<html>
<head>
  <title>Forever Web UI v</title>
  <link rel="stylesheet" href="/dist/foreverui.min.css" /> 
</head>
    <body>
        <div class="container">
            <div class="hero-unit">
                <h1>Forever Web UI <small>beta</small></h1>
                <p>Simple web UI for efficient nodejs administration</p>
                <div class="menubar left">Process count 
                    <span id="process-count">0</span>
                </div>
                <div class="menubar center">
                    <span href="#" id="addProcess-modal" class="btn">Process +1</span>
                </div>
                <div class="menubar right">
                    <span href="#" class="btn refresh">Refresh list</span>
                </div>
                <div class="menubar signout">
                    <a href="/logout" id="signout" class="btn">Sign Out</a>
                </div>
            </div>
            <div id="process-list"></div>
            <footer>
                <p>Forever Web UI v<span id="app-version"></span> - by
                    <a href="http://twitter.com/FGRibreau">@FGRibreau</a>
                </p>
            </footer>
        </div>
        <div id="tplInfo" class="alert-message block-message info hidden">
            <a class="close" href="#">×</a>
            <div class="alert-message-content"></div>
        </div>

        <script id="process-tmpl" type="text/html">
            <div class="span11">
              <h2>
                {{file}}
                <small>{{time}}</small>
              </h2>
            </div>

            <div class="span5">
              <a class="btn info" href="/info/{{uid}}">Info</a>
              <a class="btn primary restart" href="/restart/{{uid}}">Restart</a>
              <a class="btn danger stop" href="/stop/{{uid}}">Stop</a>
            </div>
        </script>
        <script id="modal-template" type="text/template">
            <div class="modal">
                <div class="modal-header"><h3>Add New Process</h3></div>
                <div class="modal-body">
                    <form>
                        <label class="control-label" id="process-args">Process Args</label>
                        <div class="divDialogElements">
                            <input id="process-args-input" name="process-args-input" type="text"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-success addProcess">Submit</a>
                    <a class="btn closeProcess">Close</a>
                </div>
            </div>
            <div class="modal-backdrop"></div>
        </script>

        <script src="/js/jquery.1.7.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/pretty.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/underscore.1.2.2.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/backbone.0.5.3.dev.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/bootstrap-alerts.1.4.0.dev.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/mustache.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" charset="utf-8">
            var App = {
                version: <%- JSON.stringify(version) %>
            };
        </script>
        <script src="/dist/foreverui.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" charset="utf-8">
            $(function () {
                App.ForeverWebUIApp = new App.AppView( <%- JSON.stringify(process) %> );
                App.addProcessFlow  = new App.AddProcess();
            });
        </script>
    </body>
</html>